.snow {
  position: fixed;
  z-index: 10000000000000000000000000;
  width: 9vw;
  height: 28vh;
  position: fixed;
  top: 47vh;
  left: 7vw;
  z-index: 1000000000;
  // transform:rotate(-110deg);
}

@keyframes fly {
  0% {
    transform:rotate(0deg);
  }
  50% {

  }
  100% {
    transform: rotate(360deg);
  }
}
