.subjects {
 width: 100vw;
 height: 100vh;
 position: fixed;
 .subjects__in {
  position: relative;
  * {
    position: absolute;
  }
  .trees1 {
    width: 18vw;
    height: 30vh;
    top: 42vh;
    left:1vw;
   }
   .trees2 {
    width: 14vw;
    height: 26vh;
    left: 26.5vw;
    top: 16vh;
   }
   .Igloo {
    top: 53.5vh;    
    width: 21vw;
    height: 18vh;
    transform: rotateY(180deg);
    left: 6vw;
   }
   .tree1 {
    width: 10vw;
    top: 46vh;
    left: 7vw;
    height: 26vh;
   }
   .tree2 {
    width: 10vw;
    right: 3vw;
    top: 55vh;
    height: 26vh;
   }
   .tree3 {
    width: 10vw;
    right: 8vw;
    top: 35vh;
    height: 26vh;
   }
   .snowMan1 {
    width: 8vw;
    height: 20vh;
    top: 3vh;
    right: 24vw;
    transform: rotateY(180deg);
   }
   .sign_1 {
    width: 4vw;
    height: 9vh;
    top: 62vh;
    left:28vw;
   }
   .sign_2 {
    width: 4vw;
    height: 9vh;
    top: 13vh;
    right: 38vw;
   }
   .crystal1 {
    width: 4.5vw;
    height: 8vh;
    top: 15vh;
    right: 30vw;
   }
   .crystal2 {
    top: 4vh;
    width: 4.5vw;
    height: 8vh;
    left: .5vw;
   }
   .IceBox1 {
    width:4.3vw;
    height: 9vh;
    top: 52vh;
    right: 40vw
   }
   .IceBox2 {
    width:4.3vw;
    height: 9vh;
    top: 72vh;
    right: 1vw;
   }
   .IceBox3 {
    width:4.3vw;
    height: 9vh;
    top: 63.4vh;
    right: 2vw;
   }
   .Crate1 {
    width:4.3vw;
    height: 9vh;
    top: 52vh;
    right: 17vw;
   }
   .Crate2 {
    width:4.3vw;
    height: 9vh;
    right: 21vw;
    top: 52vh;
   }
   .Crate3 {
    width:4.3vw;
    height: 9vh;
    right: 19vw;
    top: 43vh;
   }
   .Stone {
    width:5vw;
    height: 8vh;
    top: 72.4vh;
    right: 25vw
   }
 }
}