body {
   overflow: hidden;
   height: 100vh;
}
.create {
   width: 100%;
   /* height: 90vh; */
   overflow: hidden;
}
.create__header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
   padding: 10px 5%;
   border-bottom: 1px solid rgb(254,254,254,.3);
}
.create__body {
   /* display: flex;
   justify-content: space-between;
   align-items: start; */
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 3fr;
}

.create__body__right {
   padding: 10px;
   border-right:  1px solid rgb(254,254,254,.3);
   max-height: 83vh;
   overflow-y: scroll;
   height: 100%;
}
select {
   font-size: 18px;
   border-radius: 4px;
   border: 1px solid rgb(254,254,254,.5);
   padding: 6px 10px;
   background-color: transparent;
   color: rgb(254,254,254,.5);
   transition: all .3s ease;
   width: 100%;
}
select:hover {
   background-color: rgb(216, 2, 74);
   color: white;
   border: none;
   padding: 8px 12px;
   cursor: pointer
}

/* product */
.product {
   display: flex;
   justify-content: end;
   align-items: center;
   flex-direction: column;
   max-width: 300px;
   width: 100%;
   position: relative;
   height: 220px;
   margin-bottom: 10px;
   border-radius: 10px;
   padding: 10px;
   transition: all .5s ease;
   background-color: #0a0a0a;
   border: 1px solid rgb(254,254,254,.3);
   cursor: grab;
}
.product img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}
.product__item {
   position: absolute;
   padding: 5px;
   background-color: #0a0a0a;
   border-radius: 10px;
}
.product__item a {
   font-size: 18px;
}
.product__notification {
   position: absolute;

   opacity: 0;
   bottom: 150%;
   background-color: black;
   padding: 10px;
   margin: 5%;
   transition: all .3s linear;
   border-radius: 10px;
}
.product:hover .product__notification {
   opacity: 1;
}
.product:hover {
   border: 2px solid rgb(216, 2, 74);
}
.product:hover img  {
   border: 2px solid rgb(216, 2, 74);
}

.create__body__left {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;

   padding: 10px;
   gap: 10px;
}

.card {
   width: 100%;
   max-width: 400px;
   padding: 10px;
   max-height: 300px;
   min-height: 300px;
   border: 2px solid rgb(254,254,254,.3);
   border-radius: 10px;
}
.card__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin-bottom: 10px;
   gap: 5px
}
.card__body  {
   height: 100%;
   max-height: 230px;
   border-radius: 10px;
   position: relative;
   border: 2px solid rgb(254,254,254,.3);

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.card__body textarea {
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: transparent;
   border: none;
   color:  white;
   font-size: 22px;
   padding: 5px;
   opacity: .6;
   z-index: 10;
}
.card__body h2 {
   position: absolute;
   width: 100%;
   height: 100%;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   color: rgb(254,254,254,.3);
   z-index: -1;
}
.card__header button {
   font-size: 18px;
   border-radius: 4px;
   border: 1px solid rgb(254,254,254,.5);
   padding: 6px 10px;
   background-color: transparent;
   color: rgb(254,254,254,.5);
   transition: all .3s ease;
   width: 70px;
   opacity: 0
}
.card__header button:hover {
   background-color: rgb(216, 2, 74);
   color: white;
   border: none;
   padding: 8px 12px;
   cursor: pointer
}
.card:hover button {
   opacity: 1;
}
.card__header input {
   font-size: 18px;
   border-radius: 4px;
   border: 1px solid rgb(254,254,254,.5);
   padding: 6px 10px;
   background-color: transparent;
   color: rgb(254,254,254,.5);
   transition: all .3s ease;
   width: 70px;
}
.card__header input:hover {
   background-color: rgb(216, 2, 74);
   color: white;
   border: none;
   padding: 8px 12px;
   cursor: pointer
}

.error {
   background-color: rgb(216, 2, 74);
   position: fixed;
   top: 10%;
   right:25%;
   color: white;
   font-weight: bold;
   border-radius: 10px;
   padding: 10px;
}
