@import '../../scss/varibles';

.pre_snowman {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 10vw;
}
.snowman {
  width: 9vw;
  height: 28vh;
  position: fixed;
  top: 47vh;
  left: 10vw;
  z-index: 1000000000;
}