.snow {
  position: fixed;
  width: 8vw;
  height: 8vh;
  z-index: 10000000000000000000000000;
  width: 9vw;
  height: 28vh;
  position: fixed;
  top: 47vh;
  left: 7vw;
  z-index: 1000000000;
  transform:rotate(-110deg);
}